# Modifiez ce fichier et enregistrez-le sous le nom ".env" (sans .example)
# Remplacez <user> et <password> par vos identifiants MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/proformat?retryWrites=true&w=majority
